<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alexaskillprojectwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>alexaskillprojectwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlexaSkillProjectWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AlexaSkillProjectWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishProvider>AzureWebSite</PublishProvider>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AlexaSkillProjectDataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:azureyoda.database.windows.net,1433;Initial Catalog=AlexaSkillProjectDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:azureyoda.database.windows.net,1433;Initial Catalog=AlexaSkillProjectDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AlexaSkillProject.Repository.AlexaSkillProjectDataContext, AlexaSkillProject.Repository" MigrationConfiguration="AlexaSkillProject.Repository.Migrations.Configuration, AlexaSkillProject.Repository" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AlexaSkillProjectDataContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:azureyoda.database.windows.net,1433;Initial Catalog=AlexaSkillProjectDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:azureyoda.database.windows.net,1433;Initial Catalog=AlexaSkillProjectDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AlexaSkillProject.WebApp.Models.ApplicationDbContext, AlexaSkillProject.WebApp" MigrationConfiguration="AlexaSkillProject.WebApp.Migrations.Configuration, AlexaSkillProject.WebApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AlexaSkillProjectDataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:azureyoda.database.windows.net,1433;Initial Catalog=AlexaSkillProjectDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AlexaSkillProjectDataContext" />
  </ItemGroup>
</Project>